*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background-color: black;
}

header{
    display: grid;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}



.social ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    
}

.social{
    grid: 1f;
}

.logo{
    grid: 2fr;
}

.social ul li{
    list-style: none;
}

.social ul li a{
    text-decoration: none;
    color: lightgray;
}

.iiyoutube, .ispotify, .instagram{
    transition: 400ms;
}

.iyoutube:hover{
    color: red;
    transition: 400ms;
}

.ispotify:hover{
    color: green;
}

.iinstagram:hover{
color: rgb(253, 0, 118);
}




.logo img{
    width: 200px;
}

.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}

.video-player{
    border-radius: 15px;
    margin: 20px;
}

.video button{
    background-color: red;
    color: lightgray;
    padding: 10px;
    border-radius: 15px;
    border: none;
    opacity: .5;
    transition: 400ms;
}

.video button:hover{
    opacity: 1;
    transition: 400ms;
}

.new-single{
    margin-top: 50px;
    width: 100vw;
    height: 400px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.new-single-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    padding: 10px;
}

.new-single-content p{
    font-size: 3rem;
    font-weight: bold;
}

.new-single-content p:nth-child(2){
    font-size: 2rem;
}

.new-single img{
    transition: 400ms;
}

.new-single img:hover{
    transform: scale(.8);
    transition: 400ms;
}



.new-single-content ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.new-single-content ul li:hover{
    transform: scale(1.2);
    transition: 400ms;

}

.new-single-content ul li{
    transition: 400ms;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.shows{
    display: flex;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column;

}


.music-player-container{
    display: flex;
    width: 100vw;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.music-player p{
    text-align: center;
    color: lightgray;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
}

.music-player-container iframe{
    transition: 400ms;
}

.music-player-container iframe:hover{
    transform: scale(.8);
    transition: 400ms;
}

.shows p{
    color: black;
    font-size: 3rem;
}

.show-encarte img{
    width: 400px;
    margin-bottom: 40px;
}


footer{
    background-color: black;
    width: 100vw;
    height: 10vh;
}


@media (max-width: 480px) {

    .video{
        width: 90w;
        height: 100vh;
    }

    .video-player {
      width: 360px;
      height: 260px;
    }

    .new-single{
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        text-align: center;
    }

    .new-single img{
        margin-top: -120px;
    }
   .music-player-container iframe{
    width: 90vw;
   }

   .shows img{
    width: 90vw;
       
   }
 

  }
